In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
from google.colab import files
import matplotlib.pyplot as plt

In [0]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!ls "/content/drive/My Drive/data_x_data"

 baseball_data				'IEOR 135 Athlete Projection System'
 Basketball_Data.gsheet			'Minute Meeting Notes.gdoc'
 batting.ipynb				 nba2019.csv
'Copy of Innovation Navigator.gslides'	 NBA_Analysis.ipynb
'Data Cleaning Directive.gdoc'		 NBA_Cleaning.ipynb
 finalnba.csv				 pitching.ipynb
 finalnba.gsheet

In [0]:
#In order to run all data files in each of our individual laptops, we must make sure the filing system is the same for everyone.
# Make sure your data files are all located in the My Drive and have the same file name as below.
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [0]:
#cleaned nba 2019-2020 season.
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1lO_RW1lRzAVYHO1TVqk2UPT1whCnwORLeQR-zE7LVRw/edit#gid=1145225836')
sheet_one = wb.worksheet('2019-2020 Per Game')
data = sheet_one.get_all_values()
nba2019 = pd.DataFrame(data)
nba2019.columns = nba2019.iloc[0]
nba2019 = nba2019.iloc[1:]
nba2019

0      k                              Player Pos Age  ...  BLK  TOV   PF   PTS
1      1              Steven Adams\adamsst01   C  26  ...  1.1  1.5  1.9  10.9
2      2               Bam Adebayo\adebaba01  PF  22  ...  1.3  2.8  2.5  16.2
3      3         LaMarcus Aldridge\aldrila01   C  34  ...  1.6  1.4  2.4  18.9
4      4  Nickeil Alexander-Walker\alexani01  SG  21  ...  0.2    1  1.1   5.1
5      5             Grayson Allen\allengr01  SG  24  ...    0  0.8  1.2   7.4
..   ...                                 ...  ..  ..  ...  ...  ...  ...   ...
620  510            Thaddeus Young\youngth01  PF  31  ...  0.4  1.6  2.1  10.3
621  511                Trae Young\youngtr01  PG  21  ...  0.1  4.8  1.7  29.6
622  512               Cody Zeller\zelleco01   C  27  ...  0.4  1.3  2.4  11.1
623  513                Ante Žižić\zizican01   C  23  ...  0.2  0.5  1.2   4.4
624  514               Ivica Zubac\zubaciv01   C  22  ...  0.9  0.8  2.3     8

[624 rows x 30 columns]

In [0]:
#Drop unless/redundant features from stat table.
use_col = ['k','FG','FGA','3P','3PA','2P','2PA', 'FT', 'FTA', 'TRB']
nba2019 = nba2019.drop(columns=use_col)
nba2019.head()

0                              Player Pos Age   Tm  ...  BLK  TOV   PF   PTS
1              Steven Adams\adamsst01   C  26  OKC  ...  1.1  1.5  1.9  10.9
2               Bam Adebayo\adebaba01  PF  22  MIA  ...  1.3  2.8  2.5  16.2
3         LaMarcus Aldridge\aldrila01   C  34  SAS  ...  1.6  1.4  2.4  18.9
4  Nickeil Alexander-Walker\alexani01  SG  21  NOP  ...  0.2    1  1.1   5.1
5             Grayson Allen\allengr01  SG  24  MEM  ...    0  0.8  1.2   7.4

[5 rows x 20 columns]

In [0]:
#cleaned nba 2019-2020 season. Need Tm for now to add PER from another dataframe. Remove duplicates that had players traded mid-season (kept only total stat)
nba2019['Player'] = nba2019['Player'].str.replace('\\\\.+', '')
nba2019['StartYear'] = 2019
dup_tot = nba2019[nba2019['Tm'] == 'TOT']
dup = np.array(nba2019[nba2019['Tm'] == 'TOT']['Player'])
nondup = nba2019[~nba2019['Player'].isin(dup)]
nba2019 = pd.concat([nondup, dup_tot])
nba2019 = nba2019.drop(columns= 'Tm')

In [0]:
#get cleaned PER from other table for 2019-2020 season. Will combine with table above (this will be our Y value for our regression prediction model)
sheet_one = wb.worksheet('2019-2020 Advanced')
data = sheet_one.get_all_values()
nba2019per = pd.DataFrame(data)
nba2019per.columns = nba2019per.iloc[0]
nba2019per = nba2019per.iloc[1:]
nba2019per['Player'] = nba2019per['Player'].str.replace('\\\\.+', '')
nba2019per = nba2019per.loc[:, ['Player','Tm','PER']]

#remove duplicates once again.
dup_tot = nba2019per[nba2019per['Tm'] == 'TOT']
dup = np.array(nba2019per[nba2019per['Tm'] == 'TOT']['Player'])
nondup = nba2019per[~nba2019per['Player'].isin(dup)]
nba2019per = pd.concat([nondup, dup_tot])
nba2019per.head()

#Now combine table based on player name
nba2019 = nba2019.merge(nba2019per, on='Player').drop(columns = 'Tm')
nba2019

0                      Player    Pos Age   G  ...   PF   PTS StartYear   PER
0                Steven Adams      C  26  58  ...  1.9  10.9      2019  20.8
1                 Bam Adebayo     PF  22  65  ...  2.5  16.2      2019  20.6
2           LaMarcus Aldridge      C  34  53  ...  2.4  18.9      2019  19.8
3    Nickeil Alexander-Walker     SG  21  41  ...  1.1   5.1      2019   7.6
4               Grayson Allen     SG  24  30  ...  1.2   7.4      2019  11.4
..                        ...    ...  ..  ..  ...  ...   ...       ...   ...
509               Noah Vonleh   C-PF  24  33  ...  1.2   3.8      2019  15.6
510            Derrick Walton     PG  24  26  ...  0.8     2      2019   8.7
511               Paul Watson  SF-SG  25   5  ...  0.2   0.2      2019  -0.5
512            Andrew Wiggins  SF-SG  24  54  ...  2.4  21.8      2019  16.4
513           Marvin Williams     PF  33  52  ...  1.8   6.1      2019  11.4

[514 rows x 21 columns]

In [0]:
#cleaned nba 2018-2019 season.
sheet_one = wb.worksheet('2018-2019 Per Game')
data = sheet_one.get_all_values()
nba2018 = pd.DataFrame(data)
nba2018.columns = nba2018.iloc[0]
nba2018 = nba2018.iloc[1:]

#Drop unless/redundant features from stat table.
use_col = ['Rk','FG','FGA','3P','3PA','2P','2PA', 'FT', 'FTA', 'TRB']
nba2018 = nba2018.drop(columns=use_col)
nba2018.head()

#cleaned nba 2018-2019 season. Need Tm for now to add PER from another dataframe. Remove duplicates that had players traded mid-season (kept only total stat)
nba2018['Player'] = nba2018['Player'].str.replace('\\\\.+', '')
nba2018['StartYear'] = 2018
dup_tot = nba2018[nba2018['Tm'] == 'TOT']
dup = np.array(nba2018[nba2018['Tm'] == 'TOT']['Player'])
nondup = nba2018[~nba2018['Player'].isin(dup)]
nba2018 = pd.concat([nondup, dup_tot])
nba2018 = nba2018.drop(columns= 'Tm')

#get cleaned PER from other table for 2018-2019 season. Will combine with table above (this will be our Y value for our regression prediction model)
sheet_one = wb.worksheet('2018-2019 Advanced')
data = sheet_one.get_all_values()
nba2018per = pd.DataFrame(data)
nba2018per.columns = nba2018per.iloc[0]
nba2018per = nba2018per.iloc[1:]
nba2018per['Player'] = nba2018per['Player'].str.replace('\\\\.+', '')
nba2018per = nba2018per.loc[:, ['Player','Tm','PER']]

#remove duplicates once again.
dup_tot = nba2018per[nba2018per['Tm'] == 'TOT']
dup = np.array(nba2018per[nba2018per['Tm'] == 'TOT']['Player'])
nondup = nba2018per[~nba2018per['Player'].isin(dup)]
nba2018per = pd.concat([nondup, dup_tot])
nba2018per.head()

#Now combine table based on player name
nba2018 = nba2018.merge(nba2018per, on='Player').drop(columns = 'Tm')
nba2018

0               Player Pos Age   G  GS  ...  TOV   PF   PTS StartYear   PER
0         Álex Abrines  SG  25  31   2  ...  0.5  1.7   5.3      2018   6.3
1           Quincy Acy  PF  28  10   0  ...  0.4  2.4   1.7      2018   2.9
2         Jaylen Adams  PG  22  34   1  ...  0.8  1.3   3.2      2018   7.6
3         Steven Adams   C  25  80  80  ...  1.7  2.6  13.9      2018  18.5
4          Bam Adebayo   C  21  82  28  ...  1.5  2.5   8.9      2018  17.9
..                 ...  ..  ..  ..  ..  ...  ...  ...   ...       ...   ...
525  Jonas Valančiūnas   C  26  49  27  ...  1.8    3  15.6      2018  24.4
526     Christian Wood  PF  23  21   2  ...  0.8  0.8   8.2      2018  21.9
527       Delon Wright  PG  26  75  13  ...    1  1.4   8.7      2018  15.5
528       Tyler Zeller   C  29   6   1  ...  0.7  3.3   7.7      2018  17.3
529        Ivica Zubac   C  21  59  37  ...  1.2  2.3   8.9      2018  18.9

[530 rows x 21 columns]

In [0]:
#Now add column for all nba team selections
nba2018['Award'] = 'None'
dictfirst = {'Giannis Antetokounmpo':'First', 'Paul George':'First', 'Nikola Jokić':'First', 'James Harden':'First', 'Stephen Curry':'First',
             'Kevin Durant':'Second', 'Kawhi Leonard':'Second', 'Joel Embiid':'Second', 'Damian Lillard': 'Second', 'Kyrie Irving':'Second',
             'Blake Griffin':'Third', 'LeBron James':'Third', 'Rudy Gobert':'Third', 'Russell Westbrook': 'Third', 'Kemba Walker':'Third'}
nba2018['Award'] = nba2018['Player'].map(dictfirst)
nba2018['Award'].fillna('None', inplace = True)
nba2018

0               Player Pos Age   G  GS  ...   PF   PTS StartYear   PER Award
0         Álex Abrines  SG  25  31   2  ...  1.7   5.3      2018   6.3  None
1           Quincy Acy  PF  28  10   0  ...  2.4   1.7      2018   2.9  None
2         Jaylen Adams  PG  22  34   1  ...  1.3   3.2      2018   7.6  None
3         Steven Adams   C  25  80  80  ...  2.6  13.9      2018  18.5  None
4          Bam Adebayo   C  21  82  28  ...  2.5   8.9      2018  17.9  None
..                 ...  ..  ..  ..  ..  ...  ...   ...       ...   ...   ...
525  Jonas Valančiūnas   C  26  49  27  ...    3  15.6      2018  24.4  None
526     Christian Wood  PF  23  21   2  ...  0.8   8.2      2018  21.9  None
527       Delon Wright  PG  26  75  13  ...  1.4   8.7      2018  15.5  None
528       Tyler Zeller   C  29   6   1  ...  3.3   7.7      2018  17.3  None
529        Ivica Zubac   C  21  59  37  ...  2.3   8.9      2018  18.9  None

[530 rows x 22 columns]

In [0]:
#cleaned nba2017-2018 season.
sheet_one = wb.worksheet('2017-2018 Per Game')
data = sheet_one.get_all_values()
nba2017 = pd.DataFrame(data)
nba2017.columns = nba2017.iloc[0]
nba2017 = nba2017.iloc[1:]

#Drop unless/redundant features from stat table.
use_col = ['Rk','FG','FGA','3P','3PA','2P','2PA', 'FT', 'FTA', 'TRB']
nba2017 = nba2017.drop(columns=use_col)

#cleaned nba 2017-2018 season. Need Tm for now to add PER from another dataframe. Remove duplicates that had players traded mid-season (kept only total stat)
nba2017['Player'] = nba2017['Player'].str.replace('\\\\.+', '')
nba2017['StartYear'] = 2017
dup_tot = nba2017[nba2017['Tm'] == 'TOT']
dup = np.array(nba2017[nba2017['Tm'] == 'TOT']['Player'])
nondup = nba2017[~nba2017['Player'].isin(dup)]
nba2017 = pd.concat([nondup, dup_tot])
nba2017 = nba2017.drop(columns= 'Tm')

#get cleaned PER from other table for 2017-2018 season. Will combine with table above (this will be our Y value for our regression prediction model)
sheet_one = wb.worksheet('2017-2018 Advanced')
data = sheet_one.get_all_values()
nba2017per = pd.DataFrame(data)
nba2017per.columns = nba2017per.iloc[0]
nba2017per = nba2017per.iloc[1:]
nba2017per['Player'] = nba2017per['Player'].str.replace('\\\\.+', '')
nba2017per = nba2017per.loc[:, ['Player','Tm','PER']]

#remove duplicates once again.
dup_tot = nba2017per[nba2017per['Tm'] == 'TOT']
dup = np.array(nba2017per[nba2017per['Tm'] == 'TOT']['Player'])
nondup = nba2017per[~nba2017per['Player'].isin(dup)]
nba2017per = pd.concat([nondup, dup_tot])

#Now combine table based on player name
nba2017 = nba2017.merge(nba2017per, on='Player').drop(columns = 'Tm')
nba2017

0            Player Pos Age   G  GS    MP  ...  BLK  TOV   PF   PTS StartYear   PER
0      Álex Abrines  SG  24  75   8  15.1  ...  0.1  0.3  1.7   4.7      2017     9
1        Quincy Acy  PF  27  70   8  19.4  ...  0.4  0.9  2.1   5.9      2017   8.2
2      Steven Adams   C  24  76  76  32.7  ...    1  1.7  2.8  13.9      2017  20.6
3       Bam Adebayo   C  20  69  19  19.8  ...  0.6    1    2   6.9      2017  15.7
4     Arron Afflalo  SG  32  53   3  12.9  ...  0.2  0.4  1.1   3.4      2017   5.8
..              ...  ..  ..  ..  ..   ...  ...  ...  ...  ...   ...       ...   ...
535     Dwyane Wade  SG  36  67   3  22.9  ...  0.7  2.1  1.9  11.4      2017    15
536   Briante Weber  PG  25  18   0  13.2  ...  0.3  0.8  1.6   2.8      2017  10.1
537   Troy Williams  SF  23  21   1  14.6  ...  0.2  0.9  1.6   6.3      2017  15.1
538  Brandan Wright  PF  30  28   1  13.6  ...  0.9  0.3  1.1     5      2017    19
539    Tyler Zeller   C  28  66  34  16.8  ...  0.5  0.7  1.9   6.7      2017    16

[540 rows x 21 columns]

In [0]:
#Now add column for all nba team selections
nba2017['Award'] = 'None'
dictfirst = {'Kevin Durant':'First', 'LeBron James':'First', 'Anthony Davis':'First', 'James Harden':'First', 'Damian Lillard':'First',
             'LaMarcus Aldridge':'Second', 'Giannis Antetokounmpo':'Second', 'Joel Embiid':'Second', 'Russell Westbrook': 'Second', 'DeMar DeRozan':'Second',
             'Stephen Curry':'Third', 'Victor Oladipo':'Third', 'Karl-Anthony Towns':'Third', 'Paul George': 'Third', 'Jimmy Butler':'Third'}
nba2017['Award'] = nba2017['Player'].map(dictfirst)
nba2017['Award'].fillna('None', inplace = True)
nba2017

0            Player Pos Age   G  GS  ...   PF   PTS StartYear   PER Award
0      Álex Abrines  SG  24  75   8  ...  1.7   4.7      2017     9  None
1        Quincy Acy  PF  27  70   8  ...  2.1   5.9      2017   8.2  None
2      Steven Adams   C  24  76  76  ...  2.8  13.9      2017  20.6  None
3       Bam Adebayo   C  20  69  19  ...    2   6.9      2017  15.7  None
4     Arron Afflalo  SG  32  53   3  ...  1.1   3.4      2017   5.8  None
..              ...  ..  ..  ..  ..  ...  ...   ...       ...   ...   ...
535     Dwyane Wade  SG  36  67   3  ...  1.9  11.4      2017    15  None
536   Briante Weber  PG  25  18   0  ...  1.6   2.8      2017  10.1  None
537   Troy Williams  SF  23  21   1  ...  1.6   6.3      2017  15.1  None
538  Brandan Wright  PF  30  28   1  ...  1.1     5      2017    19  None
539    Tyler Zeller   C  28  66  34  ...  1.9   6.7      2017    16  None

[540 rows x 22 columns]

In [0]:
#cleaned nba 2016-2017 season
sheet_one = wb.worksheet('2016-2017 Per Game')
data = sheet_one.get_all_values()
nba2016 = pd.DataFrame(data)
nba2016.columns = nba2016.iloc[0]
nba2016 = nba2016.iloc[1:]

#Drop unless/redundant features from stat table.
use_col = ['Rk','FG','FGA','3P','3PA','2P','2PA', 'FT', 'FTA', 'TRB']
nba2016 = nba2016.drop(columns=use_col)

#cleaned nba 2016-2017 season. Need Tm for now to add PER from another dataframe. Remove duplicates that had players traded mid-season (kept only total stat)
nba2016['Player'] = nba2016['Player'].str.replace('\\\\.+', '')
nba2016['StartYear'] = 2016
dup_tot = nba2016[nba2016['Tm'] == 'TOT']
dup = np.array(nba2016[nba2016['Tm'] == 'TOT']['Player'])
nondup = nba2016[~nba2016['Player'].isin(dup)]
nba2016 = pd.concat([nondup, dup_tot])
nba2016 = nba2016.drop(columns= 'Tm')

#get cleaned PER from other table for 2016-2017 season. Will combine with table above (this will be our Y value for our regression prediction model)
sheet_one = wb.worksheet('2016-2017 Advanced')
data = sheet_one.get_all_values()
nba2016per = pd.DataFrame(data)
nba2016per.columns = nba2016per.iloc[0]
nba2016per = nba2016per.iloc[1:]
nba2016per['Player'] = nba2016per['Player'].str.replace('\\\\.+', '')
nba2016per = nba2016per.loc[:, ['Player','Tm','PER']]

#remove duplicates once again.
dup_tot = nba2016per[nba2016per['Tm'] == 'TOT']
dup = np.array(nba2016per[nba2016per['Tm'] == 'TOT']['Player'])
nondup = nba2016per[~nba2016per['Player'].isin(dup)]
nba2016per = pd.concat([nondup, dup_tot])

#Now combine table based on player name
nba2016 = nba2016.merge(nba2016per, on='Player').drop(columns = 'Tm')
nba2016

0              Player Pos Age   G  GS  ...  TOV   PF   PTS StartYear   PER
0        Álex Abrines  SG  23  68   6  ...  0.5  1.7     6      2016  10.1
1        Steven Adams   C  23  80  80  ...  1.8  2.4  11.3      2016  16.5
2       Arron Afflalo  SG  31  61  45  ...  0.7  1.7   8.4      2016   8.9
3       Alexis Ajinça   C  28  39  15  ...  0.8    2   5.3      2016  12.9
4        Cole Aldrich   C  28  62   0  ...  0.3  1.4   1.7      2016  12.7
..                ...  ..  ..  ..  ..  ...  ...  ...   ...       ...   ...
481     Briante Weber  PG  24  20   0  ...  0.4  0.8   3.1      2016    11
482    Deron Williams  PG  32  64  44  ...  2.2  2.2    11      2016    14
483  Derrick Williams  PF  25  50  11  ...  0.6  1.2   6.1      2016  10.6
484      Lou Williams  SG  30  81   1  ...    2  1.1  17.5      2016  21.4
485     Troy Williams  SF  22  30  16  ...  1.1    2   6.2      2016     9

[486 rows x 21 columns]

In [0]:
#Now add column for all nba team selections
nba2016['Award'] = 'None'
dictfirst = {'Kawhi Leonard':'First', 'LeBron James':'First', 'Anthony Davis':'First', 'James Harden':'First', 'Russell Westbrook':'First',
             'Kevin Durant':'Second', 'Giannis Antetokounmpo':'Second', 'Rudy Gobert':'Second', 'Stephen Curry': 'Second', 'Isaiah Thomas':'Second',
             'Draymond Green':'Third', 'DeMar DeRozan':'Third', 'DeAndre Jordan':'Third', 'John Wall': 'Third', 'Jimmy Butler':'Third'}
nba2016['Award'] = nba2016['Player'].map(dictfirst)
nba2016['Award'].fillna('None', inplace = True)
nba2016

0              Player Pos Age   G  GS  ...   PF   PTS StartYear   PER Award
0        Álex Abrines  SG  23  68   6  ...  1.7     6      2016  10.1  None
1        Steven Adams   C  23  80  80  ...  2.4  11.3      2016  16.5  None
2       Arron Afflalo  SG  31  61  45  ...  1.7   8.4      2016   8.9  None
3       Alexis Ajinça   C  28  39  15  ...    2   5.3      2016  12.9  None
4        Cole Aldrich   C  28  62   0  ...  1.4   1.7      2016  12.7  None
..                ...  ..  ..  ..  ..  ...  ...   ...       ...   ...   ...
481     Briante Weber  PG  24  20   0  ...  0.8   3.1      2016    11  None
482    Deron Williams  PG  32  64  44  ...  2.2    11      2016    14  None
483  Derrick Williams  PF  25  50  11  ...  1.2   6.1      2016  10.6  None
484      Lou Williams  SG  30  81   1  ...  1.1  17.5      2016  21.4  None
485     Troy Williams  SF  22  30  16  ...    2   6.2      2016     9  None

[486 rows x 22 columns]

In [0]:
#cleaned nba 2015 - 2016 season.
sheet_one = wb.worksheet('2015-2016 Per Game')
data = sheet_one.get_all_values()
nba2015 = pd.DataFrame(data)
nba2015.columns = nba2015.iloc[0]
nba2015 = nba2015.iloc[1:]

#Drop unless/redundant features from stat table.
use_col = ['Rk','FG','FGA','3P','3PA','2P','2PA', 'FT', 'FTA', 'TRB']
nba2015 = nba2015.drop(columns=use_col)

#cleaned nba 2015-2016 season. Need Tm for now to add PER from another dataframe. Remove duplicates that had players traded mid-season (kept only total stat)
nba2015['Player'] = nba2015['Player'].str.replace('\\\\.+', '')
nba2015['StartYear'] = 2015
dup_tot = nba2015[nba2015['Tm'] == 'TOT']
dup = np.array(nba2015[nba2015['Tm'] == 'TOT']['Player'])
nondup = nba2015[~nba2015['Player'].isin(dup)]
nba2015 = pd.concat([nondup, dup_tot])
nba2015 = nba2015.drop(columns= 'Tm')

#get cleaned PER from other table for 2015-2016 season. Will combine with table above (this will be our Y value for our regression prediction model)
sheet_one = wb.worksheet('2015-2016 Advanced')
data = sheet_one.get_all_values()
nba2015per = pd.DataFrame(data)
nba2015per.columns = nba2015per.iloc[0]
nba2015per = nba2015per.iloc[1:]
nba2015per['Player'] = nba2015per['Player'].str.replace('\\\\.+', '')
nba2015per = nba2015per.loc[:, ['Player','Tm','PER']]

#remove duplicates once again.
dup_tot = nba2015per[nba2015per['Tm'] == 'TOT']
dup = np.array(nba2015per[nba2015per['Tm'] == 'TOT']['Player'])
nondup = nba2015per[~nba2015per['Player'].isin(dup)]
nba2015per = pd.concat([nondup, dup_tot])

#Now combine table based on player name
nba2015 = nba2015.merge(nba2015per, on='Player').drop(columns = 'Tm')
nba2015

0              Player    Pos Age   G  GS  ...  TOV   PF   PTS StartYear   PER
0          Quincy Acy     PF  25  59  29  ...  0.5  1.7   5.2      2015  14.7
1        Jordan Adams     SG  21   2   0  ...    1    1   3.5      2015  17.3
2        Steven Adams      C  22  80  80  ...  1.1  2.8     8      2015  15.5
3       Arron Afflalo     SG  30  71  57  ...  1.2    2  12.8      2015  10.9
4       Alexis Ajinça      C  27  59  17  ...  0.9  2.3     6      2015  13.8
..                ...    ...  ..  ..  ..  ...  ...  ...   ...       ...   ...
471   Marcus Thornton     SG  28  61   8  ...  0.8  1.5   9.7      2015  14.7
472        Beno Udrih     PG  33  44   5  ...  1.2  1.2   4.7      2015   9.5
473  Anderson Varejão      C  33  53   0  ...  0.4  1.3   2.6      2015  11.1
474     Briante Weber     PG  23   7   4  ...  1.3  1.7   4.4      2015   8.9
475       Sonny Weems  SG-SF  29  43   0  ...    1  1.1   2.5      2015   3.7

[476 rows x 21 columns]

In [0]:
#Now add column for all nba team selections
nba2015['Award'] = 'None'
dictfirst = {'Kawhi Leonard':'First', 'LeBron James':'First', 'DeAndre Jordan':'First', 'James Harden':'First', 'Stephen Curry':'First',
             'Kevin Durant':'Second', 'Draymond Green':'Second', 'Damian Lillard':'Second', 'Chris Paul': 'Second', 'DeMarcus Cousins':'Second',
             'Paul George':'Third', 'LaMarcus Aldridge':'Third', 'Andre Drummond':'Third', 'Klay Thompson': 'Third', 'Kyle Lowry':'Third'}
nba2015['Award'] = nba2015['Player'].map(dictfirst)
nba2015['Award'].fillna('None', inplace = True)
nba2015

0              Player    Pos Age   G  GS  ...   PF   PTS StartYear   PER Award
0          Quincy Acy     PF  25  59  29  ...  1.7   5.2      2015  14.7  None
1        Jordan Adams     SG  21   2   0  ...    1   3.5      2015  17.3  None
2        Steven Adams      C  22  80  80  ...  2.8     8      2015  15.5  None
3       Arron Afflalo     SG  30  71  57  ...    2  12.8      2015  10.9  None
4       Alexis Ajinça      C  27  59  17  ...  2.3     6      2015  13.8  None
..                ...    ...  ..  ..  ..  ...  ...   ...       ...   ...   ...
471   Marcus Thornton     SG  28  61   8  ...  1.5   9.7      2015  14.7  None
472        Beno Udrih     PG  33  44   5  ...  1.2   4.7      2015   9.5  None
473  Anderson Varejão      C  33  53   0  ...  1.3   2.6      2015  11.1  None
474     Briante Weber     PG  23   7   4  ...  1.7   4.4      2015   8.9  None
475       Sonny Weems  SG-SF  29  43   0  ...  1.1   2.5      2015   3.7  None

[476 rows x 22 columns]

In [0]:
#Now combine all tables except for the 2019-2020 season together for our train-test split analysis. We will use 2019-2020 season for our 
#finalized prediction and compare with current media predictions today.
finalnba = pd.concat([nba2015,nba2016, nba2017,nba2018])
finalnba

0               Player Pos Age   G  GS  ...   PF   PTS StartYear   PER Award
0           Quincy Acy  PF  25  59  29  ...  1.7   5.2      2015  14.7  None
1         Jordan Adams  SG  21   2   0  ...    1   3.5      2015  17.3  None
2         Steven Adams   C  22  80  80  ...  2.8     8      2015  15.5  None
3        Arron Afflalo  SG  30  71  57  ...    2  12.8      2015  10.9  None
4        Alexis Ajinça   C  27  59  17  ...  2.3     6      2015  13.8  None
..                 ...  ..  ..  ..  ..  ...  ...   ...       ...   ...   ...
525  Jonas Valančiūnas   C  26  49  27  ...    3  15.6      2018  24.4  None
526     Christian Wood  PF  23  21   2  ...  0.8   8.2      2018  21.9  None
527       Delon Wright  PG  26  75  13  ...  1.4   8.7      2018  15.5  None
528       Tyler Zeller   C  29   6   1  ...  3.3   7.7      2018  17.3  None
529        Ivica Zubac   C  21  59  37  ...  2.3   8.9      2018  18.9  None

[2032 rows x 22 columns]

In [0]:
#2019-2020 season data for reference
nba2019

0                      Player    Pos Age   G  ...   PF   PTS StartYear   PER
0                Steven Adams      C  26  58  ...  1.9  10.9      2019  20.8
1                 Bam Adebayo     PF  22  65  ...  2.5  16.2      2019  20.6
2           LaMarcus Aldridge      C  34  53  ...  2.4  18.9      2019  19.8
3    Nickeil Alexander-Walker     SG  21  41  ...  1.1   5.1      2019   7.6
4               Grayson Allen     SG  24  30  ...  1.2   7.4      2019  11.4
..                        ...    ...  ..  ..  ...  ...   ...       ...   ...
509               Noah Vonleh   C-PF  24  33  ...  1.2   3.8      2019  15.6
510            Derrick Walton     PG  24  26  ...  0.8     2      2019   8.7
511               Paul Watson  SF-SG  25   5  ...  0.2   0.2      2019  -0.5
512            Andrew Wiggins  SF-SG  24  54  ...  2.4  21.8      2019  16.4
513           Marvin Williams     PF  33  52  ...  1.8   6.1      2019  11.4

[514 rows x 21 columns]

In [0]:
from google.colab import files
finalnba.to_csv('finalnba.csv') 
files.download('finalnba.csv')

In [0]:
nba2019.to_csv('nba2019.csv') 
files.download('nba2019.csv')